.c-header {
  background-color: #4516c8;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  border-bottom: 5px solid #4ef6ce;
}

.c-header__logo {
  color: #fff;
}

.c-header__menu {
  list-style: none;
  padding: 0px;
}

.c-header__menu-item {
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

.c-header__menu-item:hover {
  background-color: #4ef6ce;
}

.c-header__menu-item:hover {
  color: #230183;
}

.c-header__menu a {
  text-decoration: none;
  color: #4ef6ce;
}
